EURIAI_API_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiIxZDg2MjFhMi04ZTMwLTQzYWItODE5Yy00MGIxOGE5NjYzMTYiLCJlbWFpbCI6Im95c3Rlcjk1OEBnbWFpbC5jb20iLCJpYXQiOjE3NTEwMjk1NTUsImV4cCI6MTc4MjU2NTU1NX0.vBCNQFFcxHBq4wfZmqJ8PR_BPKMRyJqx5WLjcE1dDGM"
